<div class="lists">
  <h1>All Lists</h1>
  <table>
    <tr>
      <th>title</th>
      <th>body</th>
      <th colspan="2"></th>
    </tr>
    <% @lists.each do |list| %>
      <tr>
      
        <td><%= list.title %></td>
        <td><%= list.body %></td>
        <td><%= link_to "edit", edit_list_path(list) %></td>
        <td><%= link_to "destroy", list_path(list), method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="new-list">
  <h1>New List</h1>
  <%= render "form", list: @list %>
</div>